<section class="block container">
    <header class="block__header">
     <h2>Host on the Cloud to Keep Growing </h2>
     <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, beatae.</p>
    </header>
     <article class="grid grid--1x2 feature">
        <div class="feature__content"><span class="icon-container">
         </svg><svg class="icon icon--primary">
           <use xlink:href="images/sprite.svg#easy"></use>
         </svg>
         </span>
     <h3 class="features__heading"> Super Easy to Use </h3>
     <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, soluta?
     </p>
     <a href="#" class="link-arrow"> LEARN MORE</a>
     </div>
     <picture>
      <source type="images/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
      <source type="images/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
      <img  class="feature__image" src="images/easy@2x.webp">
     </picture>
     </article>
     <!-- part2 -->
     <article class="grid grid--1x2 feature">
        <div class="feature__content">
         <span class="icon-container">
         </svg><svg class="icon icon--primary">
           <use xlink:href="images/sprite.svg#clock"></use>
         </svg>
         </span>
     <h3 class="features__heading">  Faster than You think </h3>
     <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, soluta?
     </p>
     <a href="#" class="link-arrow"> LEARN MORE</a>
     </div>
     <picture>
      <source type="images/webp" srcset="images/fast.webp 1x, images/fast@2x.webp 2x">
      <source type="images/jpg" srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x">
      <img class="feature__image" src="images/fast@2x.jpg">
     </picture>
     </article>
     <!-- Part 3 -->
     <article class="grid grid--1x2 feature">
       <div class="feature__content">
         <span class="icon-container">
        </svg><svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
        </span>
    <h3 class="features__heading"> Wordpress Made easier to use  </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, soluta?
    </p>
    <a href="#" class="link-arrow"> LEARN MORE</a>
    </div>
    <picture>
     <source type="images/webp" srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x">
     <source type="images/jpg" srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x">
     <img  class="feature__image" src="images/wordpress@2x.webp">
    </picture>
    </article>
    <!-- Part 4 -->
    <article class="grid grid--1x2 feature">
     <div class="feature__content">
       <span class="icon-container">
      </svg><svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#clock"></use>
      </svg>
      </span>
   <h3 class="features__heading"> Give a super easy support </h3>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, soluta?
   </p>
   <a href="#" class="link-arrow"> LEARN MORE</a>
   </div>
   <picture>
   <source type="images/webp" srcset="images/support.webp 1x, images/support@2x.webp 2x">
   <source type="images/jpg" srcset="images/support.jpg 1x, images/support@2x.jpg 2x">
   <img  class="feature__image" src="images/support@2x.webp">
   </picture>
   </article>
   </section>